/* Sick Theme: A sick theme. */

@import url("https://fonts.googleapis.com/css?family=Bitter:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-grey1: #61677A;
  --tf-black1: #272829;
  --tf-lightgrey1: #D8D9DA;
  --tf-tan: #FFF6E0;
  --bs-font-sans-serif: "Bitter", sans-serif;
  --bs-font-color: var(--bs-white);
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--tf-gray1);
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: var(--tf-black1);
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: var(--bs-gray-100);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
